
canvas{
	width: 100%;
	height: 100%;
	background: black;
}

body, html {
	height: 100%
	margin: 0;
}
.blink-two {
  	font-family: Century Gothic;
  	text-transform: uppercase;	
	color: white;
	animation: blinker-two 1.4s linear infinite;
	}
	@keyframes blinker-two {
	100% {
	  opacity: 0;
	}
}
.blink-two {
    position: absolute;
	font-size:1.5vw;
	padding:20%;
}